<h1>
    {{title}}
</h1>
<div>
    <button (click)="getNames()">Get the names</button>
</div>
<table border=1>
    <tr *ngFor="let name of names">
        <td><a style="cursor: pointer" (click)="getDetails(name)">{{name}}</a></td>
    </tr>
</table>
<div>
    <!-- 
        nameDetail is input to name-detail component
        show is passing a boolean value into the component and
        makes this component visible or hides it
     -->
    <name-detail [nameDetail]="nameDetail" [show]="hideDetail"></name-detail>
</div>
<div>
    <!-- 
        nameDetail is an output event from names-form component
        it triggers method getNames in component names.component
        with the parameter nameDetail annotated as @Output in names-form
     -->
    <names-form (nameDetail)="getNames($event)"></names-form>
</div>