input.ng-invalid {
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 5px;
}

input.ng-valid {
    border-left-color: green;
    border-left-style: solid;
    border-left-width: 5px;
}